@using Entities.Concrete
@model List<Blog>

@{
	ViewData["Title"] = "Bloglarım";
	Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Bloglarım</h4>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Başlık</th>
								<th>Tarih</th>
								<th>Kategori</th>
								<th>Durum</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td><a class="text-black" asp-controller="Blog" asp-action="Read" asp-route-id="@item.BlogId">@item.BlogTitle</a></td>
									<td><a class="text-black" asp-controller="Blog" asp-action="Date" asp-route-dateOf="@item.BlogDateOf.ToShortDateString()">@item.BlogDateOf.ToShortDateString()</a></td>
									<td><a asp-controller="Blog" asp-action="Category" asp-route-id="@item.CategoryId"><span class="badge badge-gradient-dark">@item.Category.CategoryName</span></a></td>
									<td>
										<a asp-controller="Writer" asp-action="DeleteBlog" asp-route-id="@item.BlogId">
											<span class="badge @{
									    switch (item.BlogStatus)
										{
											case true:
												Write("badge-gradient-success");
												break;
											default:
												Write("badge-gradient-danger");
												break;
									}
}">
												@{
													switch (item.BlogStatus)
													{
														case true:
															Write("Aktif");
															break;
														default:
															Write("Pasif");
															break;
													}
												}
											</span>
										</a>
									</td>
									<td>
										<a class="btn btn-gradient-info btn-fw" asp-controller="Writer" asp-action="UpdateBlog" asp-route-id="@item.BlogId">Düzenle</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
