@using Entities.Concrete

@model List<Blog>

<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
	<div class="tech-btm">
		<h3>Son Bloglar</h3>
		@foreach (var item in Model)
		{
			<div class="blog-grids row mb-3">
				<div class="col-md-5 blog-grid-left">
					<a asp-controller="Blog" asp-action="Read" asp-route-blogId="@item.BlogId">
						<img src="@item.BlogThumbnailImageUrl" class="card-img-top img-fluid" alt="">
					</a>
				</div>
				<div class="col-md-7 blog-grid-right">
					<h5>
						<a asp-controller="Blog" asp-action="Read" asp-route-blogId="@item.BlogId">@item.BlogTitle</a>
					</h5>
					<div class="sub-meta">
						<a asp-controller="Blog" asp-action="Date" asp-route-dateOf="@item.BlogDateOf.Date.ToShortDateString()">
							<span>
								<i class="far fa-clock"></i>
								@if (item.BlogDateOf.Year == DateTime.Now.Year)
								{
									Write(item.BlogDateOf.ToString("dd MMMM"));
								}
								else
								{
									Write(item.BlogDateOf.ToString("dd MMMM yyyy"));
								}
							</span>
						</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>
