@using Entities.DTOs
@model UserDto

@{
    ViewData["Title"] = "Profilim";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<section class="main-content-w3layouts-agileits">
	<div class="container">
		<h3 class="tittle">Profilim</h3>
		<div class="inner-sec">
			<div class="login p-5 bg-light mx-auto mw-100">
				@using (Html.BeginForm("Index", "User", FormMethod.Post))
				{
					<div class="form-row">
						<div class="col-md-6 mb-3">
							@Html.HiddenFor(x => x.UserId)
							@Html.Label("Ad")
							@Html.TextBoxFor(x => x.UserFirstName, new { @class = "form-control", @placeholder = "Ad" } )
							@Html.ValidationMessageFor(x => x.UserFirstName, "", new { @class = "text-danger" })
						</div>
						<div class="col-md-6 mb-3">
							@Html.Label("Soyad")
							@Html.TextBoxFor(x => x.UserLastName, new { @class = "form-control", @placeholder = "Soyad" } )
							@Html.ValidationMessageFor(x => x.UserLastName, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							@Html.Label("E-posta")
							@Html.TextBoxFor(x => x.UserEmail, new { @class = "form-control", @placeholder = "E-posta", @type = "email" } )
							@Html.ValidationMessageFor(x => x.UserEmail, "", new { @class = "text-danger" })
						</div>
						<div class="form-group col-md-6">
							@Html.Label("Şifre")
							@Html.PasswordFor(x => x.UserPassword, new { @class = "form-control", @placeholder = "Değiştirmek için doldurunuz" } )
							@Html.ValidationMessageFor(x => x.UserPassword, "", new { @class = "text-danger" })
						</div>
					</div>
					<button type="submit" class="btn btn-primary submit mb-4">Kaydet</button>
				}
			</div>
		</div>
	</div>
</section>
